<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>

    <!--editor-->
    <script src="./app/assets/ckeditor/ckeditor.js" type="text/javascript"></script>

    <!--jquery-->
    <script type='text/javascript' src="./app/assets/js/jquery.js"></script>

    <!--angular files-->
    <script type='text/javascript' src="./app/assets/js/angular.min.js"></script>
    <script type='text/javascript' src="./app/assets/js/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="./app/assets/js/angular-sanitize.js"></script>

    <!--app-->
    <script type='text/javascript' src="app/app.js"></script>

    <!--controller-->
    <script type='text/javascript' src="app/controller/userController.js"></script>
    <script type='text/javascript' src="app/controller/postController.js"></script>

    <!--route files-->
    <script type='text/javascript' src="./app/routes/route.js"></script>

    <!--directives-->
    <script type='text/javascript' src="./app/directives/canvas.js"></script>
    <script type='text/javascript' src='./app/directives/ng-infinite-scroll.js'></script>

    <!--bootsrtap js files-->
    <script type='text/javascript' src="./app/assets/js/bootstrap.js"></script>
    <script type='text/javascript' src="./app/assets/js/bootstrap.min.js"></script>

    <!--bootsrtap css files-->
    <link rel="stylesheet" type="text/css" href="./app/assets/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="./app/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="./app/assets/css/bootstrap-responsive.css" />


    <!--For file upload-->
    <script src="./app/assets/js/ng-file-upload.min.js"></script>

</head>

<body id="div_posts" ng-app="pplapp" ng-init="user.permission = false">
    <div ng-controller="rootController">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="brand" href="">PPL</a>
                    <div class="pro_info pull-right">
                        <div class="image_div"><img ng-src="data:image/*;base64,{{profilePic}}"></div>
                        <div class="pro_txt">Hi {{username}}<b class="caret" ng-show="user.permission"></b></div>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a ng-click="changeState('home.timeline')" tabindex="-1" href="">My Profile</a></li>
                            <li><a ng-click="changeState('resetPassword')" tabindex="-1" href="">Change password</a></li>
                            <li><a tabindex="-1" ng-click="logout()" href="#">LogOut</a></li>
                            <li class="divider"></li>
                        </ul>
                    </div>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li ng-click="changeState('home')" class="active"> <a href="">Home</a> </li>
                            <!--<li class=""> <a href="">E-Coupons</a> </li>
                            <li class=""> <a href="">E-Brands</a> </li>
                            <li class=""> <a href="">Resuse Market</a> </li>
                            <li class=""> <a href="">Lost and Found</a> </li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header">
            <div class="header_lft">
                <div class="logo">
                    <a href="#"><img src="./app/assets/images/logo.png"></a>
                </div>
                <div class="navigatn">
                    <ul>
                        <li><a ng-click="changeState('home')" href="" class="active">Home</a></li>
                        <!--<li><a href="#"> E-Coupons </a></li>
                        <li><a href="#">E-Brands </a></li>
                        <li><a href="#"> Resuse Market </a></li>
                        <li><a href="#"> Lost and Found</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="header_rgt">
                <div ng-show="false" class="flag_div"><img src="./app/assets/images/flag.png"></div>
                <input ng-show="false" type="text" placeholder="Search" class="txt_box">
                <div ng-show="false" class="msg_box"><a href="#"><span class="msg_count">100</span></a></div>

                <div class="pro_info pull-right" ng-hide="user.permission">
                    <div style="margin-top:5px"><a ng-click="changeState('login')" href=""><h4>Login</h4></a></div>
                </div>

                <div class="pro_info pull-right" ng-show="user.permission" ng-controller="logoutController">

                    <div class="image_div"><img ng-src="data:image/*;base64,{{profilePic}}"></div>
                    <div class="info_div1"><b>Hi {{username}}</b></div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a ng-click="changeState('home.timeline')" tabindex="-1" href="">My Profile</a></li>
                        <li><a ng-click="changeState('resetPassword')" tabindex="-1" href="">Change password</a></li>
                        <li><a tabindex="-1" ng-click="logout()" href="#">LogOut</a></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="content">

                <div class="content_rgt" ui-view="right">
                    <!--display rightContent.html when profile,home,singlepost 
          and display forgot,login,register,reset on there respective urls with leftcontent -->
                </div>

                <div class="content_lft" ui-view="left">

                    <!--display posts use post.html-->
                </div>

            </div>

            <div class="clear"></div>
        </div>

        <div class="footr" ng-init="">
            <div class="footr_lft">
                <div class="footer_div1">Copyright © Pet-Socail 2014 All Rights Reserved</div>
                <div class="footer_div2"><a href="#">Privacy Policy </a>| <a href="#"> Terms & Conditions</a></div>
            </div>
            <div class="footr_rgt">
                <ul>
                    <li>
                        <a href="#"><img src="./app/assets/images/social_1.png"></a>
                    </li>
                    <li>
                        <a href="#"><img src="./app/assets/images/social_2.png"></a>
                    </li>
                    <li>
                        <a href="#"><img src="./app/assets/images/social_3.png"></a>
                    </li>
                    <li>
                        <a href="#"><img src="./app/assets/images/social_4.png"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>