doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='http://code.jquery.com/jquery.min.js')
  body
    block content
