extends layout

block content
  h1= title
  p Welcome to #{title}  
    
  form(style="display: hidden", action="http://127.0.0.1:3001/#/resetPassword", method="GET", id="form")
        div.input
            span.label Title
            input(type="hidden", id="var1", name="var", value="")


      
  script(type="text/javascript").
    window.sessionStorage.setItem('token', !{usertoken});
    $("#var1").val(!{usertoken});
    $("#form").submit();