<div ng-init="user.confirm = false">
    <div class="popup_sec" id="pop_forgt" ng-show="user.confirm">
        <div class="clos_btn"><img src="./app/assets/images/clos.png" alt="" id="clos_pop" /></div>
        <div class="pop_hdr">{{user.hdr}}</div>
        <div class="man_contnt">
            <span>{{user.body}}</span>
            <input ng-click="hidedialogue()" ng-model="user.confirm" type="submit" value="Ok">
        </div>
    </div>

    <div class="register_sec">
        <h1>Forgot Password</h1>
        <form name="forgotpassword" ng-submit="sendmail()">
            <ul>
                <li><span>Enter E-mail ID</span>
                    <input name="email" required ng-model="user.email" type="email" placeholder="User@gmail.com">
                    <div ng-if="forgotpassword.email.$dirty">
                        <p ng-show="forgotpassword.email.$error.email">please enter valid email</p>
                        <p ng-show="forgotpassword.email.$error.required">this is a required field</p>
                    </div>
                </li>
                <li>
                    <input ng-disabled="forgotpassword.$invalid" type="submit" value="Submit">
                </li>
            </ul>
        </form>
    </div>

    <script>
        $(document).ready(function() {
	$('#clos_pop').click(function() {
			$('#pop_forgt').toggle("slide");
	});
});

    </script>
</div>