<div class="login_sec" ng-init="log.confirm = false">
    <h1>Log In</h1>
    <form name="loginform" method="POST" id="log" ng-submit="login()">
        <ul>
            <li><span>Email-ID</span>
                <input ng-model-options="{ updateOn: 'blur' }" name="email" required ng-model="log.email" type="email" placeholder="Enter your email">
                <div ng-if="loginform.email.$dirty">
                    <p ng-show="loginform.email.$error.email">please enter valid email</p>
                    <p ng-show="loginform.email.$error.required">this is a required field</p>
                </div>
            </li>
            <li><span>Password</span>
                <input name="password" ng-model-options="{ updateOn: 'blur' }" maxlength="10" required ng-model="log.password" type="password"
                placeholder="Enter your password">
                <div ng-if="loginform.password.$dirty">
                    <p ng-show="loginform.password.$error.required">this is a required field</p>
                </div>
            </li>
            <li>
                <input ng-model="log.rem" type="checkbox">Remember Me</li>
            <li>
                <input ng-disabled="loginform.$invalid" type="submit" value="Log In"><a ng-click="changeState('forgotPassword')" href="">Forgot Password</a></li>
        </ul>
    </form>
    <div class="addtnal_acnt">I do not have any account yet.<a ng-click="changeState('register')" href="">Create My Account Now !</a></div>

    <div class="popup_sec" id="pop_forgt" ng-show="log.confirm">
        <div class="clos_btn"><img src="./app/assets/images/clos.png" alt="" id="clos_pop" /></div>
        <div class="pop_hdr">{{log.messageHeader}}</div>
        <div class="man_contnt">
            <span>{{log.mainMessage}}</span>
            <input ng-click="hidedialogue()" ng-model="log.confirm" type="submit" value="Ok">
        </div>
    </div>
</div>