<div class="contnt_1">
    <div class="list_1">
        <ul ng-init="flag.change = false">
            <li>
                <input type="checkbox" class="chk_bx"> Friends
            </li>
            <li>
                <input ng-change="changeFlag()" ng-model="flag.change" type="checkbox" class="chk_bx"> Flaged
            </li>
        </ul>
    </div>

    <div class="post_div">
        <div class="post_list">
            <ul>
                <li><a ng-click="getLatestPostsFirst()" href=""><span class="list_img"><img src="./app/assets/images/img_1.png"></span>Latest First</a></li>
                <li><a ng-click="getOlderPostsFirst()" href=""><span class="list_img"><img src="./app/assets/images/img_2.png"></span>Oldest First</a></li>
                <li ng-hide="true"><a href=""><span class="list_img"><img src="./app/assets/images/img_3.png"></span>Most Pet</a></li>
                <li ng-hide="true"><a href=""><span class="list_img"><img src="./app/assets/images/img_4.png"></span>Most Clicks</a></li>
                <li ng-hide="true"><a href=""><span class="list_img"><img src="./app/assets/images/img_5.png"></span>Most Commented</a></li>
                <li>Displaying {{reddit.totalPosts}} Posts</li>
            </ul>
        </div>
        <div ng-hide="true" class="post_txt"></div>
    </div>
</div>

<div infinite-scroll="reddit.loadMore()" infinite-scroll-disabled='reddit.busy' infinite-scroll-distance="0">
    {{noposts}}
    <div class="contnt_2" ng-repeat="post in reddit.items">
        <div class="div_a">
            <div class="div_title">{{post.title}}</div>
            <div class="btm_rgt">
                <div class="btm_arc">{{post.category}}</div>
            </div>
            <div class="div_top">
                <div class="div_top_lft">
                    <img class="profilepic" ng-src="http://127.0.0.1:3000/public/creatorImage/{{post.creatorImage}}"> {{post.author}}
                </div>
                <div class="div_top_rgt"><span class="span_date">{{post.createdOn}}</span><span class="span_time">{{post.date}}</span></div>
            </div>
            <div class="div_image">
                <a href=""><img ng-click="detailPost(post._id)" ng-src="http://127.0.0.1:3000/public/postPic/{{post.imageUrl}}" alt="pet"
                    /></a>
            </div>
            <div class="div_btm">
                <div class="btm_list">
                    <ul>
                        <li ng-hide="true"><a href="#"><span class="btn_icon"><img src="./app/assets/images/icon_001.png" alt="share" /></span>Share</a></li>
                        <li><a href="#"><span class="btn_icon"><img src="./app/assets/images/icon_002.png" alt="flag" /></span>Flag</a></li>
                        <li><a href="#"><span class="btn_icon"><img src="./app/assets/images/icon_004.png" alt="comments" /></span>{{post.commentcount}} Comments</a></li>
                        <li><a href="#"><span class="btn_icon"><img src="./app/assets/images/icon_003.png" alt="likes" /></span>Likes</a></li>
                        <div class="like_count"><span class="lft_cnt"></span><span class="mid_cnt">{{post.likecount}}</span><span class="rit_cnt"></span></div>
                        <li><a ng-href="#"><span class="btn_icon"><img src="./app/assets/images/icon_003.png" alt="unlike" /></span>Unlike</a></li>
                        <div class="like_count"><span class="lft_cnt"></span><span class="mid_cnt">{{post.unlikecount}}</span><span class="rit_cnt"></span></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
     <div style='clear: both;'></div>
    <div ng-show='reddit.busy'>Loading data...</div>
</div>
<!--repeat this div to show more posts-->