<div ng-init="user.confirm =false">
    <div class="register_sec">
        <h1>Create An Account</h1>
        <form name="registerform" method="POST" id="reg" ng-submit="save()">
            <ul>
                <li><span>Username</span>
                    <input name="username" required ng-model="user.username" type="text" placeholder="Enter your username">
                    <div ng-if="registerform.password.$dirty">
                        <p ng-show="registerform.password.$error.required">this is a required field</p>
                    </div>
                </li>
                <li><span>Password</span>
                    <input name="password" required ng-model="user.password" type="password" placeholder="Enter your password">
                    <div ng-if="registerform.password.$dirty">
                        <p ng-show="registerform.password.$error.required">this is a required field</p>
                    </div>
                </li>
                <li><span>Email</span>
                    <input name="email" required ng-model="user.email" type="email" placeholder="Enter your email">
                    <div ng-if="registerform.email.$dirty">
                        <p ng-show="registerform.email.$error.email">please enter valid email</p>
                        <p ng-show="registerform.email.$error.required">this is a required field</p>
                    </div>
                </li>
                <li><span>First Name</span>
                    <input name="firstname" required ng-model="user.firstName" type="text" placeholder="Enter your first name">
                    <div ng-if="registerform.firstname.$dirty">
                        <p ng-show="registerform.firstname.$error.required">this is a required field</p>
                    </div>
                </li>
                <li><span>Last Name</span>
                    <input name="lastname" required ng-model="user.lastName" type="text" placeholder="Enter your last name">
                    <div ng-if="registerform.lastname.$dirty">
                        <p ng-show="registerform.lastname.$error.required">this is a required field</p>
                    </div>
                </li>
                <li>
                    <input name="tc" required ng-model="user.aAndm" type="checkbox">I agree to Term & Conditions</li>
                <div ng-if="registerform.tc.$dirty">
                    <p ng-show="registerform.tc.$error.required">this is a required field</p>
                </div>
                <li>
                    <input ng-disabled="registerform.$invalid" type="submit" value="Register">
                </li>
            </ul>
            <form>
                <div class="addtnal_acnt">I already have an account.<a href="">Login My Account !</a></div>
    </div>

    <div class="popup_sec" id="pop_reg" ng-show="user.confirm">
        <div class="clos_btn"><img src="./app/assets/images/clos.png" alt="" id="clos_pop" /></div>
        <div class="pop_hdr">A mail has been send to your e-mail Id for confirmation</div>
        <div class="man_contnt">
            <span>Please Check Your Mail Box!</span>
            <input ng-click="hidedialogue()" ng-model="user.confirm" type="submit" value="Ok">
        </div>
    </div>
</div>