<div ng-init="resetPass.confirm = false">
  <div class="popup_sec" id="pop_forgt" ng-show="resetPass.confirm">
    <div class="clos_btn"><img src="./app/assets/images/clos.png" alt="" id="clos_pop" /></div>
    <div class="pop_hdr">{{resetPass.messageHeader}}</div>
    <div class="man_contnt">
        <span>{{resetPass.mainMessage}}</span>
        <input ng-click="hidedialogue()" ng-model="log.confirm"  type="submit" value="Ok">
    </div>
</div>

<div ng-init="resetPass.errmsg = false" class="register_sec">
    <h1>Reset Password</h1>
    <form ng-submit="changepass()">
    <ul>
        <li><span>Enter New Password</span>
            <input name="password" required ng-model="user.pass" type="text" placeholder="Enter your new password">
        </li>
        <li><span>Confirm Password</span>
            <input ng-blur="comparePassword()" required ng-model="user.cnfpass" type="text" placeholder="Enter your password again">
        <div ng-show="resetPass.errmsg">Must match the previous entry</div>
        </li>
        <li>
            <input ng-disabled="!errmsg" type="submit" value="Submit">
        </li>
    </ul>
    </form>
</div>
</div>