<div>

<script>
    $(document).ready(function() {
	$('#rght_cat_bg').click(function() {
			$('.rght_list').toggle("slide");
                  console.log("hereeeeeeee");
	});
});

</script>
<script>
    $(document).ready(function() {
	$('#opn_cat_bg').click(function() {
			$('.sub_dwn').toggle("slide");
            console.log("hereeeeeeee");
	});
});

</script>
    
    <div ng-show="user.permission" class="rght_btn">
        <span class="rght_btn_icon">
        <img src="./app/assets/images/btn_iconb.png" alt="up" />
    </span>
        <span class="btn_sep">
        <img src="./app/assets/images/btn_sep.png" alt="sep" />
    </span>
        <a ng-click="showCreatePost()" href="">Upload Post</a>
    </div>

    <div ng-hide="showPosts" class="rght_btn">
        <span class="rght_btn_icon">
        <img src="./app/assets/images/btn_iconb.png" alt="up" />
    </span>
        <span class="btn_sep">
        <img src="./app/assets/images/btn_sep.png" alt="sep" />
    </span>
        <a ng-click="showTimelinePosts()" href="">Timeline</a>
    </div>

    <div ng-show="false" class="rght_btn"> <span class="rght_btn_icon"><img src="./app/assets/images/btn_icona.png" alt="up" /></span> <span class="btn_sep"><img src="./app/assets/images/btn_sep.png" alt="sep" /></span>        <a href="#">Invite Friends</a> </div>
    <div class="rght_cate">
        <div class="rght_cate_hd" id="rght_cat_bg">Categories</div>
        <div class="rght_list">
            <ul>
                <li><a ng-click="getPostBycategory('cats')" href=""><span class="list_icon"><img src="./app/assets/images/icon_01.png" alt="up" /></span> CATS</a></li>
                <li><a ng-click="getPostBycategory('dogs')" href=""><span class="list_icon"><img src="./app/assets/images/icon_02.png" alt="up" /></span> Dogs</a></li>
                <li><a ng-click="getPostBycategory('birds')" href=""><span class="list_icon"><img src="./app/assets/images/icon_03.png" alt="up" /></span> Birds</a></li>
                <li><a ng-click="getPostBycategory('rabbits')" href=""><span class="list_icon"><img src="./app/assets/images/icon_04.png" alt="up" /></span> Rabbit</a></li>
                <li><a ng-click="getPostBycategory('others')" href=""><span class="list_icon"><img src="./app/assets/images/icon_05.png" alt="up" /></span> Others</a></li>
            </ul>
        </div>
    </div>
    <div class="rght_cate">
        <div onclick="featured()" class="rght_cate_hd" id="opn_cat_bg">Featured</div>
        <div class="sub_dwn">
            <a ng-click="getPostsByFeatured('cats')" href="">
                <div class="feat_sec">
                    <div class="feat_sec_img"><img src="./app/assets/images/feat_img1.png" alt="image" /></div>
                    <div class="feat_txt">Get featured posts of </div>
                    <div class="btm_rgt">
                        <div class="btm_arc">Cats</div>
                    </div>
                </div>
            </a>
            <a ng-click="getPostsByFeatured('dogs')" href="">
                <div class="feat_sec">
                    <div class="feat_sec_img"><img src="./app/assets/images/feat_img2.png" alt="image" /></div>
                    <div class="feat_txt">Get featured posts of </div>
                    <div class="btm_rgt">
                        <div class="btm_arc">Dogs</div>
                    </div>
                </div>
            </a>
            <a ng-click="getPostsByFeatured('rabbits')" href="">
                <div class="feat_sec">
                    <div class="feat_sec_img"><img src="./app/assets/images/feat_img3.png" alt="image" /></div>
                    <div class="feat_txt">Get featured posts of </div>
                    <div class="btm_rgt">
                        <div class="btm_arc">Rabbits</div>
                    </div>
                </div>
            </a>
            <a ng-click="getPostsByFeatured('birds')" href="">
                <div class="feat_sec">
                    <div class="feat_sec_img"><img src="./app/assets/images/feat_img3.png" alt="image" /></div>
                    <div class="feat_txt">Get featured posts of </div>
                    <div class="btm_rgt">
                        <div class="btm_arc">Birds</div>
                    </div>
                </div>
            </a>
        </div>
    </div>