<div ng-init="pop.confirm = false">
    <div class="popup_sec" id="pop_forgt" ng-show="pop.confirm">
    <div class="clos_btn"><img src="./app/assets/images/clos.png" alt="" id="clos_pop" /></div>
    <div class="pop_hdr">{{pop.messageHeader}}</div>
    <div class="man_contnt">
        <span>{{pop.mainMessage}}</span>
        <input ng-click="hidedialogue()" ng-model="pop.confirm"  type="submit" value="Ok">
    </div>
</div>
<div class="list_1">
        <ul ng-init="flaged.selected = false">
            <li>
                <input type="checkbox" ng-model="friends.selected"  class="chk_bx"> Friends
            </li>
            <li>
                <input type="checkbox" ng-model="flaged.selected"  class="chk_bx"> Flaged               
            </li>
            {{getFlaged()}}
        </ul>
    </div>
<div class="contnt_2">
    <div class="div_a">
        <div class="div_title">{{singlePost.title}}</div>
        <div class="btm_rgt">
            <div class="btm_arc">{{singlePost.category}}</div>
        </div>
        <div class="div_top">
            <div class="div_top_lft"><img class="profilepic" ng-src="http://127.0.0.1:3000/public/creatorImage/{{singlePost.creatorImage}}">{{singlePost.author}}</div>
            <div class="div_top_rgt"><span class="span_date">{{singlePost.createdOn}}</span><span class="span_time"></span></div>
        </div>
        <div class="div_image"><img ng-src="http://127.0.0.1:3000/public/postPic/{{singlePost.imageUrl}}" alt="pet" /></div>
      
       <div class="postBody" ng-bind-html="singlePost.body">{{singlePost.body}}</div>
      
        <div class="div_btm">
            <div class="btm_list">
                <ul>
                    <li><a ng-click="share(singlePost._id)" href=""><span class="btn_icon"><img src="./app/assets/images/icon_001.png" alt="share" /></span>Share</a></li>
                    <li><a ng-click="flagby(singlePost._id)" href=""><span class="btn_icon"><img src="./app/assets/images/icon_002.png" alt="share" /></span>Flag</a></li>
                    <li><a ng-click="likecount(singlePost._id)" href=""><span class="btn_icon"><img src="./app/assets/images/icon_003.png" alt="share" /></span>{{singlePost.likecount}} Like</a></li>
                    <li><a ng-click="unlike(singlePost._id)" href=""><span class="btn_icon"><img src="./app/assets/images/icon_003.png" alt="share" /></span>{{singlePost.unlikecount}}  Unlike</a></li>
                    <li><a href=""><span class="btn_icon"><img src="./app/assets/images/icon_004.png" alt="share" /></span>{{singlePost.commentcount}} Comments</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="contnt_3" >
    <ul>
        <li ng-repeat="comment in comments">
            <div class="list_image">
                <div class="image_sec"><img src="./app/assets/images/post_img.png"></div>
                <div class="image_name">{{comment.commentedBy}}</div>
            </div>
            <div class="list_info">
                {{comment.body}}
            </div>
            <input ng-hide="true" type="button" value="Reply" class="orng_btn">
        </li><!--repeat this li to display more comments--> 
        <li>
            <div class="cmnt_div1">
                <input required type="text" ng-model="comment"  value="Enter your Comment" class="cmnt_bx1">
                <input ng-click="savecomment(singlePost._id)" type="submit" class="sub_bttn1" value="Submit Comment">
            </div>
        </li>
    </ul>
    <div class="view_div"><a ng-click="viewMoreComments()" href="">View more</a></div>
</div>
</div>