<div class="contnt_1">
    <div class="timeline_div">
        <div class="timeline_div1">
            <div class="profile_pic">

                <img ng-src="data:image/*;base64,{{profilePic}}">
                <div type="file" ngf-select="changeProfilePic($file, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB"
                class="profile_text">
                    <a href="">Change Profile Pic</a>
                </div>
            </div>
            <div class="profile_info">
                <div class="edit_div"><a ng-click="changeProfilePic()" href="">Edit <img src="./app/assets/images/timeline_img.png"></a></div>
                <div class="profile_form">
                    <ul>
                        <li>
                            <div class="div_name1">Name :</div>
                            <div class="div_name2 infoDiv">{{currentUser.firstName}}</div>
                        </li>
                        <li>
                            <div class="div_name1">LastName :</div>
                            <div class="div_name2 infoDiv">{{currentUser.lastName}}</div>
                        </li>
                        <li>
                            <div class="div_name1">Email :</div>
                            <div class="div_name2 infoDiv">{{currentUser.email}}</div>
                        </li>
                        <li>
                            <div class="div_name1">Description :</div>
                            <div class="div_name3">This is an example of a comment. You can create as many comments like this one or sub comments
                                as you like and manage all of your content inside Account.</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="timeline_div2">
            <ul>    <!--class="active"-->
                <li><a ng-click="showTimelinePosts()" href="" >Timeline</a></li>
                <!--<li><a href="">About  </a></li>-->
                <li><a ng-click="getAllProfilePics()" href="">Album</a></li>
                <!--<li><a href=""> Pets  </a></li>
                <li><a href="">My Uploads </a></li>-->
            </ul>
        </div>
    </div>
</div>
<div ng-show="createPost" class="register_sec">
    <h1>Create New Post</h1>
    <form method="post" id="createPostForm" ng-submit="savePost()">
        <ul>
            <li><span>Title</span>
                <input required ng-model="newpost.title" type="text" placeholder="Enter Title">
            </li>
            <li>
               <div style="color:red" ng-init="emageerror = false" type="file" ngf-select="drawCanvas($file, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                    <a style="width:20%" href=""><b>Select Image</b></a>
                   <div ng-show="emageerror">please select an image</div>
                </div>
                <img ng-src="http://127.0.0.1:3000/public/postPic/{{newpost.imageUrl}}"/>
                <div ng-repeat="item in queue">
                 <div  ng-thumb="{ file: item, height: 350 }">

                 </div>
                </div>
            </li>

            <li ng-init="newpost.showtextArea = false"><span>Write body for post <button ng-click="openEditor()" id="editorbtn">Click me to open editor</button></span>

                <div id="editorHtml" ng-show="newpost.showtextArea">
                    <textarea id="body" rows="5" ng-model="newpost.body" placeholder="Body Editor"></textarea>
                </div>

                <div style=" margin-top:10px: color:black; width:100%; background-color:white; border:1px solid #e0dbdb; float:left;"
                     ng-hide="newpost.showtextArea" ng-bind-html="postBodyData">
                    {{postBodyData}}
                </div>
            </li>
            <ul style="height: 110px;" id="display-inline-block">
                <li><span>Category</span>
                    <div class="select-wrapper">
                        <select required ng-model="newpost.category" class="select">
                            <option selected value="others">others</option>
                            <option value="cats">cats</option>
                            <option value="dogs">dogs</option>
                            <option value="rabbits">rabbits</option>
                            <option value="birds">birds</option>
                        </select>
                    </div>
                    <li><span>Type</span>
                        <input style="height:27px; width:97%" required ng-model="newpost.type" type="text" placeholder="Enter type">
                    </li>
                    <li style="width:30%"><span>.</span>
                        <input ng-model="newpost.featured" type="checkbox">Featured
                    </li>
                    <input ng-hide="true" style="height:27px; width:97%" ng-model="newpost.postId" type="text" placeholder="Enter type">
            </ul>  
            <li ng-init="editMode = false">
                <input ng-hide="editMode" type="submit" value="Save">
                <button ng-show="editMode" ng-click="saveEditPost()">Save</button>
            </li>
        </ul>
      <form>
</div>

<div>{{noposts}}</div>
<div ng-show="showPosts" class="contnt_2" ng-repeat="post in posts">
    <div class="div_a">
        <div class="div_title">{{post.title}}</div>
        <div class="btm_rgt">
            <div class="btm_arc">{{post.category}}</div>
        </div>
        <div class="div_top">
            <div class="div_top_lft">
                <img class="profilepic" ng-src="data:image/*;base64,{{profilePic}}">{{post.author}}</div>
            <div class="div_top_rgt"><span class="span_date">{{post.createdOn}}</span><span class="span_time">{{post.date}}</span></div>
        </div>
        <div class="div_image">
            <a href=""><img ng-click="detailPost(post._id)" ng-src="http://127.0.0.1:3000/public/postPic/{{post.imageUrl}}" alt="pet" /></a>
        </div>
        <div class="div_btm">
            <div class="btm_list">
                <ul>
                    <li><a ng-click="editPost(post._id)" href=""><span></span>Edit</a></li>
                    <li ng-if='currentUser.role == "admin"'><a ng-click="deletePost(post._id)" href=""><span></span>Delete</a></li>
                    <li><a href="#"><span class="btn_icon"><img src="./app/assets/images/icon_002.png" alt="flas" /></span>Flag</a></li>
                    <li><a href="#"><span class="btn_icon"><img src="./app/assets/images/icon_004.png" alt="comments" /></span>{{post.commentcount}} Comments</a></li>
                    <li><a href="#"><span class="btn_icon"><img src="./app/assets/images/icon_003.png" alt="lokes" /></span>Likes</a></li>
                    <div class="like_count"><span class="lft_cnt"></span><span class="mid_cnt">{{post.likecount}}</span><span class="rit_cnt"></span></div>
                    <li><a ng-href="#"><span class="btn_icon"><img src="./app/assets/images/icon_003.png" alt="unlike" /></span>Unlike</a></li>
                    <div class="like_count"><span class="lft_cnt"></span><span class="mid_cnt">{{post.unlikecount}}</span><span class="rit_cnt"></span></div>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--repeat this div to show more posts-->

<div ng-init="editor.show = false ">
    <div class="popup_editor" id="pop_forgt" ng-show="editor.show">
        <div id="editor">
        </div>
       <button ng-click="closeEditor()" ng-model="user.confirm" type="button">Save content</button>
    </div>
</div>

<!--
    view for album
-->

<div ng-show="showAlbum">
    <div class='photoGrid' ng-repeat="image in album">
        <img ng-src="http://127.0.0.1:3000/public/album/{{image.imageName}}">
    </div>
</div>

<div  ng-init="pop.confirm = false" class="popup_sec popup_editor" id="pop_forgt" ng-show="pop.confirm">
    <div class="clos_btn"><img src="./app/assets/images/clos.png" alt="" id="clos_pop" /></div>
    <div class="pop_hdr">{{pop.messageHeader}}</div>
    <div class="man_contnt">
        <span>{{pop.mainMessage}}</span>
        <input ng-click="hidedialogue()" ng-model="log.confirm"  type="submit" value="Ok">
    </div>
</div>