<div>
<div ng-show="user.permission" class="rght_btn">
    <span class="rght_btn_icon">
         <img src="./app/assets/images/btn_iconb.png" alt="up" />
     </span>
    <span class="btn_sep">
         <img src="./app/assets/images/btn_sep.png" alt="sep" />
         </span>
    <a href="#">Upload Post</a>
</div>
<div>